{% extends "templates/index.html" %}
{% load static %}
{% block ARTYapp_content %}

<h2>Buscador de cursos</h2>
<hr></hr>

<form action="/ARTYapp/search" method="GET">
    <div>
        <input type="text" name="text_search" id="atelier_atelier" placeholder="Search by name">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="code_search" id="atelier_adress" placeholder="Search by adress">
        <input type="submit" value="Buscar por camada">
    </div>
    <div>
        <input type="text" name="all_search" id="atelier_atelier_or_adress" placeholder="General search">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if atelier_ %}
    <ul>
        {% for atelier in atelier_ %}
            <li>
                Atelier: {{atelier.atelier}}
                -- Adress: {{atelier.adress}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}